USE [master]
GO
/****** Object:  Database [Propiedades_Inmobiliarias]    Script Date: 20/11/2025 20:43:19 ******/
CREATE DATABASE [Propiedades_Inmobiliarias]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Propiedades_Inmobiliarias', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Propiedades_Inmobiliarias.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Propiedades_Inmobiliarias_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Propiedades_Inmobiliarias_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Propiedades_Inmobiliarias].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Propiedades_Inmobiliarias]
GO
/****** Object:  Table [dbo].[Barrios]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Barrios](
	[ID_barrio] [int] IDENTITY(1,1) NOT NULL,
	[barrio] [varchar](50) NOT NULL,
	[localidad] [int] NULL,
 CONSTRAINT [PK_ID_barrio] PRIMARY KEY CLUSTERED 
(
	[ID_barrio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Clasificaciones]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clasificaciones](
	[Id_clasificacion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_id_clasificacion] PRIMARY KEY CLUSTERED 
(
	[Id_clasificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMENTARIOS]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMENTARIOS](
	[ID_Comentario] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[ID_Clasificacion] [int] NULL,
	[ID_Inquilino] [int] NULL,
	[ID_Inmueble] [int] NULL,
 CONSTRAINT [PK_ID_Comentario] PRIMARY KEY CLUSTERED 
(
	[ID_Comentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Comisiones]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comisiones](
	[Id_Comision] [int] IDENTITY(1,1) NOT NULL,
	[ID_Empleado] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Importe] [decimal](18, 2) NOT NULL,
	[Observaciones] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Comision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Conceptos_Pagos]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conceptos_Pagos](
	[ID_Concepto] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](25) NULL,
 CONSTRAINT [PK_ID_Concepto] PRIMARY KEY CLUSTERED 
(
	[ID_Concepto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Contratos]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contratos](
	[Id_contrato] [int] IDENTITY(1,1) NOT NULL,
	[ID_Propietario] [int] NULL,
	[ID_Inquilino] [int] NULL,
	[ID_Inmueble] [int] NULL,
 CONSTRAINT [pk_id_contrato] PRIMARY KEY CLUSTERED 
(
	[Id_contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Detalles_Inmuebles]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Detalles_Inmuebles](
	[ID_detalle_inmueble] [int] IDENTITY(1,1) NOT NULL,
	[ID_INMUEBLE] [int] NULL,
	[ID_DIRECCION] [int] NULL,
	[Ambientes] [int] NULL,
	[Precio_Venta] [decimal](18, 4) NULL,
	[Precio_Alquiler] [decimal](18, 4) NULL,
	[Caracteristicas_Tecnicas] [varchar](1000) NULL,
	[imagen] [varchar](500) NULL,
	[Id_tipo_inmueble] [int] NULL,
	[ID_Comentario] [int] NULL,
	[ID_Disponible] [int] NULL,
 CONSTRAINT [PK_ID_detalle_inmueble] PRIMARY KEY CLUSTERED 
(
	[ID_detalle_inmueble] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Detalles_Recibo]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Detalles_Recibo](
	[ID_Detalle_Recibo] [int] IDENTITY(1,1) NOT NULL,
	[Nro_Recibo] [int] NULL,
	[ID_Concepto] [int] NULL,
	[ID_Moneda] [int] NULL,
	[Monto_Total] [decimal](20, 2) NULL,
	[Comprobante] [varchar](25) NULL,
 CONSTRAINT [PK_ID_Detalle_Recibo] PRIMARY KEY CLUSTERED 
(
	[ID_Detalle_Recibo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Direcciones]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Direcciones](
	[ID_direccion] [int] IDENTITY(1,1) NOT NULL,
	[Calle] [varchar](50) NOT NULL,
	[Numeracion] [varchar](50) NOT NULL,
	[Codigo_Postal] [varchar](20) NULL,
	[ID_barrio] [int] NULL,
 CONSTRAINT [PK_ID_direccion] PRIMARY KEY CLUSTERED 
(
	[ID_direccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Disponibles]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Disponibles](
	[Id_disponible] [int] IDENTITY(1,1) NOT NULL,
	[Detalle] [varchar](50) NOT NULL,
 CONSTRAINT [PK_id_disponible] PRIMARY KEY CLUSTERED 
(
	[Id_disponible] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empleados](
	[ID_Empleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[Apellido] [varchar](25) NOT NULL,
	[ID_tipo_doc] [int] NULL,
	[CBU] [varchar](22) NULL,
	[ID_Direccion] [int] NULL,
	[Telefono] [varchar](25) NULL,
	[Mail_Contacto] [varchar](50) NULL,
	[ID_Tipo_Empleado] [int] NULL,
 CONSTRAINT [PK_ID_Empleado] PRIMARY KEY CLUSTERED 
(
	[ID_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Inmuebles]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Inmuebles](
	[ID_Inmueble] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Inmueble] [varchar](500) NULL,
	[Descripcion] [varchar](250) NULL,
	[ID_Propietario] [int] NULL,
	[ID_inquilino] [int] NULL,
	[ID_libre_deuda] [int] NULL,
 CONSTRAINT [PK_ID_Inmueble] PRIMARY KEY CLUSTERED 
(
	[ID_Inmueble] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Inquilinos]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Inquilinos](
	[ID_Inquilino] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[Apellido] [varchar](25) NOT NULL,
	[ID_tipo_doc] [int] NULL,
	[CBU] [varchar](22) NULL,
	[ID_Direccion] [int] NULL,
	[Telefono] [varchar](25) NULL,
	[Mail_Contacto] [varchar](50) NULL,
 CONSTRAINT [PK_ID_Inquilino] PRIMARY KEY CLUSTERED 
(
	[ID_Inquilino] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Libre_Deuda]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Libre_Deuda](
	[ID_Libre_Deuda] [int] IDENTITY(1,1) NOT NULL,
	[Detalle] [varchar](100) NULL,
 CONSTRAINT [PK_ID_Libre_Deuda] PRIMARY KEY CLUSTERED 
(
	[ID_Libre_Deuda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Localidades]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Localidades](
	[ID_localidad] [int] IDENTITY(1,1) NOT NULL,
	[localidad] [varchar](50) NOT NULL,
	[Provincia] [int] NULL,
 CONSTRAINT [PK_ID_localidad] PRIMARY KEY CLUSTERED 
(
	[ID_localidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Monedas]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Monedas](
	[Id_moneda] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_moneda] [varchar](25) NULL,
 CONSTRAINT [PK_id_moneda] PRIMARY KEY CLUSTERED 
(
	[Id_moneda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OBREROS]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OBREROS](
	[ID_Obrero] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[Apellido] [varchar](25) NOT NULL,
	[ID_tipo_doc] [int] NULL,
	[CBU] [varchar](22) NULL,
	[ID_Direccion] [int] NULL,
	[Telefono] [varchar](25) NULL,
	[Mail_Contacto] [varchar](50) NULL,
	[ID_Tipo_obrero] [int] NULL,
 CONSTRAINT [PK_ID_Obrero] PRIMARY KEY CLUSTERED 
(
	[ID_Obrero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Propietarios]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Propietarios](
	[ID_Propietario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[Apellido] [varchar](25) NOT NULL,
	[ID_tipo_doc] [int] NULL,
	[CBU] [varchar](22) NULL,
	[ID_Direccion] [int] NULL,
	[Telefono] [varchar](25) NULL,
	[Mail_Contacto] [varchar](50) NULL,
 CONSTRAINT [PK_ID_Propietario] PRIMARY KEY CLUSTERED 
(
	[ID_Propietario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Provincias]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Provincias](
	[ID_provincia] [int] IDENTITY(1,1) NOT NULL,
	[provincia] [varchar](25) NOT NULL,
 CONSTRAINT [PK_ID_provincia] PRIMARY KEY CLUSTERED 
(
	[ID_provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Recibos]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Recibos](
	[Nro_Recibo] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[ID_Inquilino] [int] NULL,
	[ID_Propietario] [int] NULL,
	[ID_Detalle_Inmueble] [int] NULL,
	[ID_Tipo_Pago] [int] NULL,
	[Estado_Recibo] [varchar](50) NULL,
	[Id_Contrato] [int] NULL,
 CONSTRAINT [PK_Nro_Recibo] PRIMARY KEY CLUSTERED 
(
	[Nro_Recibo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Servicios](
	[Id_servicio] [int] IDENTITY(1,1) NOT NULL,
	[Cuenta_Servicio] [varchar](25) NULL,
 CONSTRAINT [PK_id_servicio] PRIMARY KEY CLUSTERED 
(
	[Id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tipo_Obreros]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tipo_Obreros](
	[ID_Tipo_obrero] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_Obrero] [varchar](25) NULL,
 CONSTRAINT [PK_ID_Tipo_obrero] PRIMARY KEY CLUSTERED 
(
	[ID_Tipo_obrero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tipos_Cambios]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_Cambios](
	[ID_Tipo_Cambio] [int] IDENTITY(1,1) NOT NULL,
	[ID_Moneda] [int] NOT NULL,
	[ValorCambio] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_ID_Tipo_Cambio] PRIMARY KEY CLUSTERED 
(
	[ID_Tipo_Cambio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tipos_doc]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tipos_doc](
	[ID_tipo_doc] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_doc] [varchar](25) NOT NULL,
 CONSTRAINT [PK_ID_tipo_doc] PRIMARY KEY CLUSTERED 
(
	[ID_tipo_doc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tipos_Empleados]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tipos_Empleados](
	[ID_Tipo_Empleado] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_Empleado] [varchar](25) NULL,
 CONSTRAINT [PK_ID_Tipo_empleado] PRIMARY KEY CLUSTERED 
(
	[ID_Tipo_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tipos_Inmuebles]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tipos_Inmuebles](
	[ID_Tipo_Inmueble] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_Inmueble] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ID_Tipo_Inmueble] PRIMARY KEY CLUSTERED 
(
	[ID_Tipo_Inmueble] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tipos_Pagos]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tipos_Pagos](
	[ID_tipo_pago] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_pago] [varchar](20) NULL,
	[Descripcion] [varchar](50) NULL,
	[Recargo] [int] NULL,
 CONSTRAINT [PK_id_tipo_pago] PRIMARY KEY CLUSTERED 
(
	[ID_tipo_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id_Venta] [int] IDENTITY(1,1) NOT NULL,
	[Id_Inmueble] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Importe] [decimal](18, 2) NOT NULL,
	[Observaciones] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Barrios]  WITH CHECK ADD  CONSTRAINT [FK_Barrio_Localidad] FOREIGN KEY([localidad])
REFERENCES [dbo].[Localidades] ([ID_localidad])
GO
ALTER TABLE [dbo].[Barrios] CHECK CONSTRAINT [FK_Barrio_Localidad]
GO
ALTER TABLE [dbo].[COMENTARIOS]  WITH CHECK ADD  CONSTRAINT [FK_Comentario_Clasificacion] FOREIGN KEY([ID_Clasificacion])
REFERENCES [dbo].[Clasificaciones] ([Id_clasificacion])
GO
ALTER TABLE [dbo].[COMENTARIOS] CHECK CONSTRAINT [FK_Comentario_Clasificacion]
GO
ALTER TABLE [dbo].[COMENTARIOS]  WITH CHECK ADD  CONSTRAINT [FK_Comentario_Inmueble] FOREIGN KEY([ID_Inmueble])
REFERENCES [dbo].[Inmuebles] ([ID_Inmueble])
GO
ALTER TABLE [dbo].[COMENTARIOS] CHECK CONSTRAINT [FK_Comentario_Inmueble]
GO
ALTER TABLE [dbo].[COMENTARIOS]  WITH CHECK ADD  CONSTRAINT [FK_Comentario_Inquilino] FOREIGN KEY([ID_Inquilino])
REFERENCES [dbo].[Inquilinos] ([ID_Inquilino])
GO
ALTER TABLE [dbo].[COMENTARIOS] CHECK CONSTRAINT [FK_Comentario_Inquilino]
GO
ALTER TABLE [dbo].[Comisiones]  WITH CHECK ADD  CONSTRAINT [FK_Comisiones_Empleados] FOREIGN KEY([ID_Empleado])
REFERENCES [dbo].[Empleados] ([ID_Empleado])
GO
ALTER TABLE [dbo].[Comisiones] CHECK CONSTRAINT [FK_Comisiones_Empleados]
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD  CONSTRAINT [fk_id_Inmuebles] FOREIGN KEY([ID_Inmueble])
REFERENCES [dbo].[Inmuebles] ([ID_Inmueble])
GO
ALTER TABLE [dbo].[Contratos] CHECK CONSTRAINT [fk_id_Inmuebles]
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD  CONSTRAINT [fk_id_inquilino] FOREIGN KEY([ID_Inquilino])
REFERENCES [dbo].[Inquilinos] ([ID_Inquilino])
GO
ALTER TABLE [dbo].[Contratos] CHECK CONSTRAINT [fk_id_inquilino]
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD  CONSTRAINT [fk_id_propietario] FOREIGN KEY([ID_Propietario])
REFERENCES [dbo].[Propietarios] ([ID_Propietario])
GO
ALTER TABLE [dbo].[Contratos] CHECK CONSTRAINT [fk_id_propietario]
GO
ALTER TABLE [dbo].[Detalles_Inmuebles]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Comentario] FOREIGN KEY([ID_Comentario])
REFERENCES [dbo].[COMENTARIOS] ([ID_Comentario])
GO
ALTER TABLE [dbo].[Detalles_Inmuebles] CHECK CONSTRAINT [FK_Detalle_Comentario]
GO
ALTER TABLE [dbo].[Detalles_Inmuebles]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Direccion] FOREIGN KEY([ID_DIRECCION])
REFERENCES [dbo].[Direcciones] ([ID_direccion])
GO
ALTER TABLE [dbo].[Detalles_Inmuebles] CHECK CONSTRAINT [FK_Detalle_Direccion]
GO
ALTER TABLE [dbo].[Detalles_Inmuebles]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Disponible] FOREIGN KEY([ID_Disponible])
REFERENCES [dbo].[Disponibles] ([Id_disponible])
GO
ALTER TABLE [dbo].[Detalles_Inmuebles] CHECK CONSTRAINT [FK_Detalle_Disponible]
GO
ALTER TABLE [dbo].[Detalles_Inmuebles]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Inmueble] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[Inmuebles] ([ID_Inmueble])
GO
ALTER TABLE [dbo].[Detalles_Inmuebles] CHECK CONSTRAINT [FK_Detalle_Inmueble]
GO
ALTER TABLE [dbo].[Detalles_Inmuebles]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_tipo_inmueble] FOREIGN KEY([Id_tipo_inmueble])
REFERENCES [dbo].[Tipos_Inmuebles] ([ID_Tipo_Inmueble])
GO
ALTER TABLE [dbo].[Detalles_Inmuebles] CHECK CONSTRAINT [FK_Detalle_tipo_inmueble]
GO
ALTER TABLE [dbo].[Detalles_Recibo]  WITH CHECK ADD  CONSTRAINT [FK_DetRecibo_Concepto] FOREIGN KEY([ID_Concepto])
REFERENCES [dbo].[Conceptos_Pagos] ([ID_Concepto])
GO
ALTER TABLE [dbo].[Detalles_Recibo] CHECK CONSTRAINT [FK_DetRecibo_Concepto]
GO
ALTER TABLE [dbo].[Detalles_Recibo]  WITH CHECK ADD  CONSTRAINT [FK_DetRecibo_Moneda] FOREIGN KEY([ID_Moneda])
REFERENCES [dbo].[Monedas] ([Id_moneda])
GO
ALTER TABLE [dbo].[Detalles_Recibo] CHECK CONSTRAINT [FK_DetRecibo_Moneda]
GO
ALTER TABLE [dbo].[Detalles_Recibo]  WITH CHECK ADD  CONSTRAINT [FK_DetRecibo_Recibo] FOREIGN KEY([Nro_Recibo])
REFERENCES [dbo].[Recibos] ([Nro_Recibo])
GO
ALTER TABLE [dbo].[Detalles_Recibo] CHECK CONSTRAINT [FK_DetRecibo_Recibo]
GO
ALTER TABLE [dbo].[Direcciones]  WITH CHECK ADD  CONSTRAINT [FK_Direccion_Barrio] FOREIGN KEY([ID_barrio])
REFERENCES [dbo].[Barrios] ([ID_barrio])
GO
ALTER TABLE [dbo].[Direcciones] CHECK CONSTRAINT [FK_Direccion_Barrio]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Direccion] FOREIGN KEY([ID_Direccion])
REFERENCES [dbo].[Direcciones] ([ID_direccion])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleado_Direccion]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Tipo] FOREIGN KEY([ID_Tipo_Empleado])
REFERENCES [dbo].[Tipos_Empleados] ([ID_Tipo_Empleado])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleado_Tipo]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_tipo_doc] FOREIGN KEY([ID_tipo_doc])
REFERENCES [dbo].[Tipos_doc] ([ID_tipo_doc])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_tipo_doc]
GO
ALTER TABLE [dbo].[Inmuebles]  WITH CHECK ADD  CONSTRAINT [FK_Inmueble_Inquilino] FOREIGN KEY([ID_inquilino])
REFERENCES [dbo].[Inquilinos] ([ID_Inquilino])
GO
ALTER TABLE [dbo].[Inmuebles] CHECK CONSTRAINT [FK_Inmueble_Inquilino]
GO
ALTER TABLE [dbo].[Inmuebles]  WITH CHECK ADD  CONSTRAINT [FK_Inmueble_LibreDeuda] FOREIGN KEY([ID_libre_deuda])
REFERENCES [dbo].[Libre_Deuda] ([ID_Libre_Deuda])
GO
ALTER TABLE [dbo].[Inmuebles] CHECK CONSTRAINT [FK_Inmueble_LibreDeuda]
GO
ALTER TABLE [dbo].[Inmuebles]  WITH CHECK ADD  CONSTRAINT [FK_Inmueble_Propietario] FOREIGN KEY([ID_Propietario])
REFERENCES [dbo].[Propietarios] ([ID_Propietario])
GO
ALTER TABLE [dbo].[Inmuebles] CHECK CONSTRAINT [FK_Inmueble_Propietario]
GO
ALTER TABLE [dbo].[Inquilinos]  WITH CHECK ADD  CONSTRAINT [FK_Inquilino_Direccion] FOREIGN KEY([ID_Direccion])
REFERENCES [dbo].[Direcciones] ([ID_direccion])
GO
ALTER TABLE [dbo].[Inquilinos] CHECK CONSTRAINT [FK_Inquilino_Direccion]
GO
ALTER TABLE [dbo].[Inquilinos]  WITH CHECK ADD  CONSTRAINT [FK_Inquilinos_tipo_doc] FOREIGN KEY([ID_tipo_doc])
REFERENCES [dbo].[Tipos_doc] ([ID_tipo_doc])
GO
ALTER TABLE [dbo].[Inquilinos] CHECK CONSTRAINT [FK_Inquilinos_tipo_doc]
GO
ALTER TABLE [dbo].[Localidades]  WITH CHECK ADD  CONSTRAINT [FK_Localidad_Provincia] FOREIGN KEY([Provincia])
REFERENCES [dbo].[Provincias] ([ID_provincia])
GO
ALTER TABLE [dbo].[Localidades] CHECK CONSTRAINT [FK_Localidad_Provincia]
GO
ALTER TABLE [dbo].[OBREROS]  WITH CHECK ADD  CONSTRAINT [FK_Obrero_Direccion] FOREIGN KEY([ID_Direccion])
REFERENCES [dbo].[Direcciones] ([ID_direccion])
GO
ALTER TABLE [dbo].[OBREROS] CHECK CONSTRAINT [FK_Obrero_Direccion]
GO
ALTER TABLE [dbo].[OBREROS]  WITH CHECK ADD  CONSTRAINT [FK_Obrero_TipoObrero] FOREIGN KEY([ID_Tipo_obrero])
REFERENCES [dbo].[Tipo_Obreros] ([ID_Tipo_obrero])
GO
ALTER TABLE [dbo].[OBREROS] CHECK CONSTRAINT [FK_Obrero_TipoObrero]
GO
ALTER TABLE [dbo].[OBREROS]  WITH CHECK ADD  CONSTRAINT [FK_Obreros_tipo_doc] FOREIGN KEY([ID_tipo_doc])
REFERENCES [dbo].[Tipos_doc] ([ID_tipo_doc])
GO
ALTER TABLE [dbo].[OBREROS] CHECK CONSTRAINT [FK_Obreros_tipo_doc]
GO
ALTER TABLE [dbo].[Propietarios]  WITH CHECK ADD  CONSTRAINT [FK_Propietario_Direccion] FOREIGN KEY([ID_Direccion])
REFERENCES [dbo].[Direcciones] ([ID_direccion])
GO
ALTER TABLE [dbo].[Propietarios] CHECK CONSTRAINT [FK_Propietario_Direccion]
GO
ALTER TABLE [dbo].[Propietarios]  WITH CHECK ADD  CONSTRAINT [FK_Propietario_tipo_doc] FOREIGN KEY([ID_tipo_doc])
REFERENCES [dbo].[Tipos_doc] ([ID_tipo_doc])
GO
ALTER TABLE [dbo].[Propietarios] CHECK CONSTRAINT [FK_Propietario_tipo_doc]
GO
ALTER TABLE [dbo].[Recibos]  WITH CHECK ADD  CONSTRAINT [fk_id_contrato] FOREIGN KEY([Id_Contrato])
REFERENCES [dbo].[Contratos] ([Id_contrato])
GO
ALTER TABLE [dbo].[Recibos] CHECK CONSTRAINT [fk_id_contrato]
GO
ALTER TABLE [dbo].[Recibos]  WITH CHECK ADD  CONSTRAINT [FK_Recibo_DetalleInmueble] FOREIGN KEY([ID_Detalle_Inmueble])
REFERENCES [dbo].[Detalles_Inmuebles] ([ID_detalle_inmueble])
GO
ALTER TABLE [dbo].[Recibos] CHECK CONSTRAINT [FK_Recibo_DetalleInmueble]
GO
ALTER TABLE [dbo].[Recibos]  WITH CHECK ADD  CONSTRAINT [FK_Recibo_Inquilino] FOREIGN KEY([ID_Inquilino])
REFERENCES [dbo].[Inquilinos] ([ID_Inquilino])
GO
ALTER TABLE [dbo].[Recibos] CHECK CONSTRAINT [FK_Recibo_Inquilino]
GO
ALTER TABLE [dbo].[Recibos]  WITH CHECK ADD  CONSTRAINT [FK_Recibo_Propietario] FOREIGN KEY([ID_Propietario])
REFERENCES [dbo].[Propietarios] ([ID_Propietario])
GO
ALTER TABLE [dbo].[Recibos] CHECK CONSTRAINT [FK_Recibo_Propietario]
GO
ALTER TABLE [dbo].[Recibos]  WITH CHECK ADD  CONSTRAINT [FK_Recibo_TipoPago] FOREIGN KEY([ID_Tipo_Pago])
REFERENCES [dbo].[Tipos_Pagos] ([ID_tipo_pago])
GO
ALTER TABLE [dbo].[Recibos] CHECK CONSTRAINT [FK_Recibo_TipoPago]
GO
ALTER TABLE [dbo].[Tipos_Cambios]  WITH CHECK ADD  CONSTRAINT [FK_TipoCambio_Moneda] FOREIGN KEY([ID_Moneda])
REFERENCES [dbo].[Monedas] ([Id_moneda])
GO
ALTER TABLE [dbo].[Tipos_Cambios] CHECK CONSTRAINT [FK_TipoCambio_Moneda]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Inmuebles] FOREIGN KEY([Id_Inmueble])
REFERENCES [dbo].[Inmuebles] ([ID_Inmueble])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Inmuebles]
GO
/****** Object:  StoredProcedure [dbo].[pa_contratos_detallados]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_contratos_detallados]
    @IdPropietario INT = NULL,
    @IdInquilino  INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        c.Id_contrato,
        (p.Apellido + ', ' + p.Nombre)     AS Propietario,
        (i.Apellido + ', ' + i.Nombre)     AS Inquilino,
        inm.Nombre_Inmueble,
        d.Calle + ' ' + d.Numeracion       AS Direccion,
        b.Barrio,
        l.Localidad,
        di.Ambientes,
        di.Precio_Alquiler,
        di.Precio_Venta
    FROM Contratos c
    INNER JOIN Propietarios        p  ON p.ID_Propietario  = c.ID_Propietario
    INNER JOIN Inquilinos          i  ON i.ID_Inquilino    = c.ID_Inquilino
    INNER JOIN Inmuebles           inm ON inm.ID_Inmueble  = c.ID_Inmueble
    LEFT  JOIN Detalles_Inmuebles  di  ON di.ID_Inmueble   = inm.ID_Inmueble
    LEFT  JOIN Direcciones         d   ON d.ID_direccion   = di.ID_Direccion
    LEFT  JOIN Barrios             b   ON b.ID_barrio      = d.ID_barrio
    LEFT  JOIN Localidades         l   ON l.ID_localidad   = b.localidad
    WHERE
        (@IdPropietario IS NULL OR c.ID_Propietario = @IdPropietario)
        AND (@IdInquilino  IS NULL OR c.ID_Inquilino  = @IdInquilino)
    ORDER BY Propietario, Inquilino, c.Id_contrato;
END
GO
/****** Object:  StoredProcedure [dbo].[pa_contratos_vigentes]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_contratos_vigentes]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        c.ID_Contrato,
        p.Direccion AS Propiedad,
        i.Nombre + ' ' + i.Apellido AS Inquilino,
        c.FechaInicio,
        c.FechaFin,
        c.MontoMensual
    FROM Contratos c
    INNER JOIN Inquilinos i ON c.ID_Inquilino = i.ID_Inquilino
    INNER JOIN Propiedades p ON c.ID_Propiedad = p.ID_Propiedad
    WHERE 
        GETDATE() BETWEEN c.FechaInicio AND c.FechaFin
    ORDER BY c.FechaFin ASC
END

GO
/****** Object:  StoredProcedure [dbo].[pa_recibos_por_inquilino]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_recibos_por_inquilino]
    @IdInquilino INT,
    @Desde DATE = NULL,
    @Hasta DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Desde IS NULL SET @Desde = '19000101';
    IF @Hasta IS NULL SET @Hasta = '99991231';

    -- Detalle de recibos
    SELECT 
        r.Nro_Recibo,
        r.fecha,
        r.Estado_Recibo,
        r.Id_Contrato,
        (p.Apellido + ', ' + p.Nombre) AS Propietario,
        tp.Tipo_Pago,
        dr.ID_Concepto,
        cp.Descripcion                AS Concepto,
        m.Tipo_moneda                 AS Moneda,
        dr.Monto_Total
    FROM Recibos r
    INNER JOIN Propietarios     p  ON p.ID_Propietario = r.ID_Propietario
    INNER JOIN Tipos_Pagos      tp ON tp.ID_Tipo_Pago  = r.ID_Tipo_Pago
    INNER JOIN Detalles_Recibo  dr ON dr.Nro_Recibo    = r.Nro_Recibo
    INNER JOIN Conceptos_Pagos  cp ON cp.ID_Concepto   = dr.ID_Concepto
    INNER JOIN Monedas          m  ON m.Id_moneda      = dr.ID_Moneda
    WHERE 
        r.ID_Inquilino = @IdInquilino
        AND r.fecha BETWEEN @Desde AND @Hasta
    ORDER BY r.fecha DESC, r.Nro_Recibo;

    -- Resumen por moneda (2º result set)
    SELECT 
        m.Tipo_moneda AS Moneda,
        SUM(dr.Monto_Total) AS Total
    FROM Recibos r
    INNER JOIN Detalles_Recibo dr ON dr.Nro_Recibo = r.Nro_Recibo
    INNER JOIN Monedas m          ON m.Id_moneda   = dr.ID_Moneda
    WHERE 
        r.ID_Inquilino = @IdInquilino
        AND r.fecha BETWEEN @Desde AND @Hasta
    GROUP BY m.Tipo_moneda;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Buscador]    Script Date: 20/11/2025 20:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Buscador]
    @Texto   VARCHAR(100),
    @Tabla   VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    ----------------------------------------------------------------
    -- 1) INQUILINOS
    ----------------------------------------------------------------
    IF @Tabla = 'Inquilinos'
    BEGIN
        SELECT TOP 100
            i.ID_Inquilino,
            i.Nombre,
            i.Apellido,
            td.descripcion_doc   AS TipoDocumento,
            i.Telefono,
            i.Mail_Contacto,
            i.CBU,
            d.Calle,
            d.Numeracion,
            b.barrio,
            l.localidad,
            p.provincia
        FROM Inquilinos i
        LEFT JOIN Tipos_doc   td ON td.ID_tipo_doc   = i.ID_tipo_doc
        LEFT JOIN Direcciones d  ON d.ID_direccion   = i.ID_Direccion
        LEFT JOIN Barrios     b  ON b.ID_barrio      = d.ID_barrio
        LEFT JOIN Localidades l  ON l.ID_localidad   = b.localidad
        LEFT JOIN Provincias  p  ON p.ID_provincia   = l.Provincia
        WHERE
            i.Nombre        LIKE '%' + @Texto + '%'
            OR i.Apellido   LIKE '%' + @Texto + '%'
            OR i.Telefono   LIKE '%' + @Texto + '%'
            OR i.Mail_Contacto LIKE '%' + @Texto + '%'
            OR b.barrio     LIKE '%' + @Texto + '%'
            OR l.localidad  LIKE '%' + @Texto + '%'
            OR p.provincia  LIKE '%' + @Texto + '%';
        RETURN;
    END

    ----------------------------------------------------------------
    -- 2) CONTRATOS
    ----------------------------------------------------------------
    IF @Tabla = 'Contratos'
    BEGIN
        SELECT TOP 100
            c.Id_contrato,
            pr.Nombre   AS NombrePropietario,
            pr.Apellido AS ApellidoPropietario,
            inq.Nombre  AS NombreInquilino,
            inq.Apellido AS ApellidoInquilino,
            inm.Nombre_Inmueble,
            inm.Descripcion
        FROM Contratos c
        LEFT JOIN Propietarios pr ON pr.ID_Propietario = c.ID_Propietario
        LEFT JOIN Inquilinos  inq ON inq.ID_Inquilino  = c.ID_Inquilino
        LEFT JOIN Inmuebles   inm ON inm.ID_Inmueble   = c.ID_Inmueble
        WHERE
            CAST(c.Id_contrato AS VARCHAR(20)) LIKE '%' + @Texto + '%'
            OR pr.Apellido     LIKE '%' + @Texto + '%'
            OR pr.Nombre       LIKE '%' + @Texto + '%'
            OR inq.Apellido    LIKE '%' + @Texto + '%'
            OR inq.Nombre      LIKE '%' + @Texto + '%'
            OR inm.Nombre_Inmueble LIKE '%' + @Texto + '%';
        RETURN;
    END

    ----------------------------------------------------------------
    -- 3) INMUEBLES
    ----------------------------------------------------------------
    IF @Tabla = 'Inmuebles'
    BEGIN
        SELECT TOP 100
            inm.ID_Inmueble,
            inm.Nombre_Inmueble,
            inm.Descripcion,
            pr.Apellido + ', ' + pr.Nombre AS Propietario,
            d.Calle,
            d.Numeracion,
            b.barrio,
            l.localidad,
            p.provincia,
            di.Ambientes,
            di.Precio_Alquiler,
            di.Precio_Venta
        FROM Inmuebles inm
        LEFT JOIN Propietarios       pr ON pr.ID_Propietario  = inm.ID_Propietario
        LEFT JOIN Detalles_Inmuebles di ON di.ID_INMUEBLE     = inm.ID_Inmueble
        LEFT JOIN Direcciones        d  ON d.ID_direccion     = di.ID_DIRECCION
        LEFT JOIN Barrios            b  ON b.ID_barrio        = d.ID_barrio
        LEFT JOIN Localidades        l  ON l.ID_localidad     = b.localidad
        LEFT JOIN Provincias         p  ON p.ID_provincia     = l.Provincia
        WHERE
            inm.Nombre_Inmueble LIKE '%' + @Texto + '%'
            OR inm.Descripcion  LIKE '%' + @Texto + '%'
            OR pr.Apellido      LIKE '%' + @Texto + '%'
            OR pr.Nombre        LIKE '%' + @Texto + '%'
            OR b.barrio         LIKE '%' + @Texto + '%'
            OR l.localidad      LIKE '%' + @Texto + '%'
            OR p.provincia      LIKE '%' + @Texto + '%';
        RETURN;
    END

    ----------------------------------------------------------------
    -- 4) PROPIETARIOS  ✅ NUEVO BLOQUE
    ----------------------------------------------------------------
    IF @Tabla = 'Propietarios'
    BEGIN
        SELECT TOP 100
            p.ID_Propietario,
            p.Nombre,
            p.Apellido,
            td.descripcion_doc   AS TipoDocumento,
            p.Telefono,
            p.Mail_Contacto,
            p.CBU,
            d.Calle,
            d.Numeracion,
            b.barrio,
            l.localidad,
            pr.provincia
        FROM Propietarios p
        LEFT JOIN Tipos_doc   td ON td.ID_tipo_doc   = p.ID_tipo_doc
        LEFT JOIN Direcciones d  ON d.ID_direccion   = p.ID_Direccion
        LEFT JOIN Barrios     b  ON b.ID_barrio      = d.ID_barrio
        LEFT JOIN Localidades l  ON l.ID_localidad   = b.localidad
        LEFT JOIN Provincias  pr ON pr.ID_provincia  = l.Provincia
        WHERE
            p.Nombre        LIKE '%' + @Texto + '%'
            OR p.Apellido   LIKE '%' + @Texto + '%'
            OR p.Telefono   LIKE '%' + @Texto + '%'
            OR p.Mail_Contacto LIKE '%' + @Texto + '%'
            OR b.barrio     LIKE '%' + @Texto + '%'
            OR l.localidad  LIKE '%' + @Texto + '%'
            OR pr.provincia LIKE '%' + @Texto + '%';
        RETURN;
    END

    ----------------------------------------------------------------
    -- 5) Tabla no soportada
    ----------------------------------------------------------------
    RAISERROR('Tabla no soportada en SP_Buscador. Use Inquilinos, Propietarios, Contratos o Inmuebles.', 16, 1);
END;

GO
USE [master]
GO
